@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://unpkg.com/ionicons@4.1.1/dist/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap);

html, body, #MainApp{
    height: 100vh; /*min-content*/
    background-color: rgba(0,0,0,0);
    width: 100vw; /*min-content*/
    display: flex;
    align-items: center;
    justify-content: center;
}

#MainApp{ display: none;}

#app{
    font-family: 'Lato', 'IconicFill', sans-serif;
    background-color: #282828;
    height: 160px;
    width: 550px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 0px #181818 solid;
    border-radius: 5px;
    box-shadow: black 15px 15px 40px; /*#181818*/
    color: #ffffff;
    text-shadow: 4px 4px 5px #181818;
    position: relative;
}
#app img{
    margin-left: -5px;
    z-index: 15;
    height: 200px;
    width: 200px;
    border: 0px #181818 solid;
    border-radius: 5px;
    box-shadow: black 10px 10px 25px;/*#181818*/
}

#stuff{
    height: 160px;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: end;
    padding-left: 200px;
    position: absolute;
    overflow: hidden;
    border-radius: 5px;
}

#stuff::before {
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    background-image: var(--data-background-image);
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    z-index: 1;
    content: "";
    height: 100%;
    width: 100%;
    filter: blur(4px);
    
}

#rigthStuff{
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#info{
    width: 350px;
    display: flex;
    flex-direction: column;
    z-index: 2;
}
#title{
    font-size: 22px;
    line-height: 0.3em;
    margin-left: 20px;
    width:320px;
    margin-top:10px;
    z-index: 2;
}
#artist{
    font-size: 15px;
    line-height: 0.2;
    margin-left: 50px;
    margin-top: -2px;
    width:290px;
    z-index: 2;
}

.info-val {
    float:left;
    overflow:hidden;
    position: relative;
    line-height: 0;
    z-index: 2;
}
.info-val h1 {
    position: relative;
    white-space:nowrap;
    left: 0px;
    z-index: 2;
}

#timeProgress{
    margin-top: 10px;
    width: 350px;
    display: flex;
    justify-content: flex-end;
    z-index: 2;
}

#timeProgress span{ 
    padding-right: 5px; 
    padding-bottom: 2px;
    font-size: 22px;
    z-index: 2;
    text-shadow: 5px 5px 7px #181818;
}

#Progress {
    z-index: 2;
    margin-left: -5px;
    width: 355px;
    border-bottom-right-radius: 5px;
    background-color: #2e2d2d;
}

#timeBar {
    z-index: 2;
    width: 2px;
    height: 15px;
    background-color:#1db954;
    border-bottom-right-radius: 5px;
}

/*Fade*/
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

/* Slide fade.              */
.slide-fade-enter-active {
    transition: all .4s ease;
}
.slide-fade-leave-active {
    transition: all .4s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(500px);
    opacity: 0;
}

/*Bounce*/
.bounce-enter-active {
    animation: bounce-in .5s;
}
.bounce-leave-active {
    animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}


/*Blur*/
.blur-enter-active {
    animation: blur-in .5s;
}
.blur-leave-active {
    animation: blur-in .5s reverse;
}
@keyframes blur-in {
    0% {
        -webkit-filter: blur(1px);
    }
    50% {
        -webkit-filter: blur(2px);
    }
    100% {
        -webkit-filter: blur(1px);
    }
}